.header {
    padding: 50px;
    font-size: 34px;
    text-align: center;font-weight: bolder;

}

.masthead {
background-size: contain;
}

.containerHead {
    margin-top: 40px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: inline;
}

.input{
    width: 100%;
    margin: 20px;
}

.footer {
    padding-top: 20px;
    text-align: center;
}

#topArticles {
    padding: 20px;
    border: 5px solid #888888;
}

